body{
  background-color: rgb(54,57,63);
}


/* ---------- Sign-in component ----------  */


#outer-signin{
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  text-align: center;
  color: #fff;
  margin:10rem 14rem;
  line-height: 2rem;
  background-color: rgb(44, 46, 51);
  padding: 45px;
  border-radius: 11px;
}

.chatroom-word{
  color: rgb(33,150,243);
}

#google-svg{
  margin-right : 11px;
  margin-bottom : 4px;
}

#singin-button{
  margin-top: 20px;
  padding: 8px 33px;
  color: #fff;
  background-color: rgb(33,150,243);
  border: rgb(33,150,243);
  border-radius: 6px;
}

#singin-button:hover{
  background-color: rgb(24, 101, 163);
}


/* ---------- Sign-out component ----------  */


#outer-signout{
  display: flex;
  justify-content: space-between;
}

#outest-signout{
  padding: 10px 20px;
  position : fixed;
  width: 100%;
  top:0;
  background-color: rgb(54,57,63);
  box-shadow: 0 2px 70px 8px rgba(0,0,0,.2);
}

#signout-button{
  padding: 8px 33px;
  color: #fff;
  background-color: rgb(33,150,243);
  border: rgb(33,150,243);
  border-radius: 6px;
}

#signout-button:hover{
  background-color: rgb(24, 101, 163);
}

#chatroom-word-2{
  color : rgb(33,150,243);
  font-family: 'Secular One', sans-serif;
}

#inner-signout{
  display: flex;
}    


/* ---------- Chat component ----------  */

.msgs{
  margin: 0 10rem;
  margin-top: 5rem;
}

#main-content{
  display: flex;
  padding: 12px;
  padding-bottom: 6px;
  border-radius: 6px;
}

#main-content:hover{
  background-color: rgb(52, 53, 58);
}

#sub-content{
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#inner-sub-content{
  display: flex;
}

#userimage > img{
  height: 45px;
  width: 45px;
  border-radius: 50%;
}

#displayName, #usertext, #time{
  margin-left: 12px;
}

#usertext{
  color: #fff;
}

#displayName{
  color: rgb(33,150,243);
}

#time{
  color: rgb(165, 165, 165);
  font-size: 12px;
  margin-top: 4px;
}


/* ---------- Send Message component ----------  */


.sendMsg{
  margin: 5rem 10rem;
}
.inner-sendMsg{
  position: fixed;
  display: flex;
  width:75%;
  bottom: 0;
  padding-bottom: 30px;
  background-color: rgb(54,57,63);
  justify-content: space-between;
}

.inner-sendMsg > input{
  width: 100%;
  background-color: rgb(64,68,75);
  border: rgb(64,68,75);
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  color: #fff;
  outline: none;
  padding: 12px 0;
}


#send-button{
  padding: 8px 33px;
  color: #fff;
  background-color: rgb(33,150,243);
  border: rgb(33,150,243);
  border-radius: 6px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

#send-button:hover{
  background-color: rgb(24, 101, 163);
  cursor: pointer;
}

/* ---------- media queries for medium screen devices ----------  */

@media (max-width: 820px){

/* ---------- Signin component ----------  */

#outer-signin{
  margin: 0 0.5rem;
  margin-top: 16rem;
  padding: 9rem;
}

  /* ---------- Chat component ----------  */
  .msgs{
    margin: 0 0.3rem;
    margin-top: 4rem;
  }
  
  /* ---------- Send Message component ----------  */
  .sendMsg{
    margin: 5rem 1rem;
  }

  .inner-sendMsg{
    width:96%;
    padding-bottom: 20px;
  }
  
}


/* ---------- media queries for small screen devices ----------  */

@media (max-width: 500px){

/* ---------- Signin component ----------  */

#outer-signin{
  margin: 0 0.5rem;
  margin-top: 16rem;
  padding: 3rem;
}

/* ---------- Chat component ----------  */
.msgs{
  margin: 0 0.3rem;
  margin-top: 4rem;
}

/* ---------- Send Message component ----------  */
.sendMsg{
  margin: 5rem 1rem;
}

.inner-sendMsg{
  width:92%;
  padding-bottom: 20px;
}

/* ---------- Signout component ----------  */

#outest-signout{
  width: 100%;
}

#signout-button{
  padding: 0 0.5rem;
}

}

